@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Open+Sans:wght@300&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #CCCCCC;
    width: 186px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav{
    padding: 24px 0px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0px
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 100vw;
}

.container{
    display: flex;

}

.infoContainer{
    /* background-color: rgb(128, 0, 117); */
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.devPic img{
    height: 80vh;
}

.devInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.hello{
    font-size: 50px;
}

.name{
    font-size: 64px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.about{
    font-size: 30px;
}

.butttons{
    margin-top: 15px;
}

.btn{
    padding: 5px 15px;
    border-radius: 8px;
    background-color: #010AFE;
    color: white;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background-color: white;
    color: #010AFE;
}

.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 124px;
    padding-left: 34px;
    margin-left: 200px;
}

.contactform h1{
   padding: 15px 0;
}

.contactform form div{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    width: 20vw;
    
}

.contactform form div input{
   border-radius: 5px;
   margin: 8px 0;
   padding: 3px;
    
}

#emailHelp{
    font-size: 10px;
    margin: 0 10px;
    padding: 0;
}

#form-check{
    flex-direction: row;
}

#isclient{
    margin: 4px 10px
}

.blogItem{
   margin: 20px;
   font-family: 'Fira Sans', sans-serif;
}

.blogContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 20px;
}

.blogContainer{
    margin: 50px;
}

.blogItem p{
    font-family: 'Poppins', sans-serif;
}

.sidebarGo{
    transform: translate(-198px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 5px;
    margin-left: 5px;
}

.cross{
    margin-left: 141px;
    margin-top: 5px
}

footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #CCCCCC;
    align-items: center;
    justify-content: center;
    bottom: 0px;
}

.socialMedia{  
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-right: 12%;
    padding: 20px;
    
}

.copyRight{
    margin-left: 12%;    
}

.copyRight a{
    text-decoration: none;
    color: black;
}

.copyRight a:hover{
    color: rgb(53, 26, 26);
}

.fbLogo{
    margin: 0 7px;
    margin-top: 6px;
    margin-right: 12px;
}

.instaLogo{
    margin: 0 7px;
    margin-top: 6px;
    margin-right: 12px;
}

.twitterLogo{
    margin: 0 7px;
    margin-top: 6px;
    margin-right: 12px;
}

.ytLogo{
    margin: 0 7px;
    margin-top: 5px;
}

.introContainer{
    width: 100vw;
    height: 538px;
    background-color: #E6E6E6;
}

.blueBar{
    width: 100%;
    height: 46px;
    background-color: #010AFE;
  
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95.5vw;
    height: 424px;
    background-color: #CCCCCC;
    margin: 30px;
}

.whiteContainer{
    margin-left: 65px;
    width: 650px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.whiteContainer h2{
    margin: 25px;
    margin-left: 60px;
}

.whiteContainer p{
    margin: 15px;
    margin-left: 65px;
}

#introName{
    margin-top: 27px;
}

.introPic img{
    width: 340px;
    margin-right: 60px;
}


/*-------My Work Page-------*/
.workContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.workContainer h1{
    margin-top: 50px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
}

.workHeading{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 148px;
    font-family: 'Fira Sans', sans-serif;

}

.projectBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 568px;
    background-color: #E6E6E6;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 15px;
    
}

.projectContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projectContainer img{
    display: flex;
    margin-top: 30px;
    border-radius: 15px;
}

.smallBox{
    border-radius: 15px;
    height: 320px;
    width: 500px;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;

}

.smallBox h2{
    margin-top: 35px;
    margin-left: 35px;
}

.smallBox h3{
    margin-top: 20px;
    margin-left: 35px;
}

.smallBox p{
    margin-left: 35px;
    font-weight: 100;
}

.smallBox button{
    margin-left: 35px;
    margin-top: 20px;
}

.projectDis{
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectImg{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.projectImg img{
    margin: 20px;
    border-radius: 15px;
}














@media (max-width: 1350px) {
    /* *{
    background-color: rgb(180, 145, 145);
    } */
    /* .sidebar{
        transform: translate(-198px, 0px);
        position: absolute;
    }
     */
}

@media (max-width: 1164px) {
    .devPic{
        display: none;
    }
    .copyRight {
        margin-left: 20%;
    }
    .socialMedia {
        margin-right: 20%;
    }

    /*----- sidbar -----*/

    .intro{
        flex-direction: column;
        background-color: white;
        margin: 0;
        height: 757px;
        width: 100vw;
    }

    .introContainer{
        background-color: white;
    }

    .whiteContainer{
        margin-left: 0;
    }  

    /* .blueBar{
        display: none;
    } */

    .introPic{
        margin-left: 10%;
    }

    .introPic img{
        width: 250px;
    }

    .whiteContainer{
        width: 380px
    }

    .whiteContainer h2{
        margin-left: 34px;
    }

    .whiteContainer p{
        margin-left: 34px;
    }



    /*------   my work   ------*/

    .projectContainer{
        flex-direction: column;
    }

    .projectContainer img{
        width: 500px;
    }

    .workHeading{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .workContainer{
        width: 100vw;
    }

    .projectBox{
        margin-left: 0;
    }


    .projectImg{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100vw;
    }

    .projectImg img{
        width: 500px;
    }

    #sportifyPng3{
        margin-bottom: 10vh;
    }

    /*------- Contact Me -------*/

    .contactform{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin-left: 0;
    }

    .contactform form div{
        width: 450px;
    }

    .blogContainer{
        margin-top: 50px;
        margin-left: 10px;
    }




}

@media (max-width: 861px) {
    .copyRight {
        margin-left: 25%;
        font-size: 14px;
    }
    .socialMedia {
        margin-right: 25%;
    }


    /*------- my work -------*/


    /* .projectContainer{
        margin-left: 10%;

    } */









   
}

@media (max-width: 690px) {
    .copyRight {
        margin-left: 62%;
        font-size: 12px;
    }
    .socialMedia {
        left: 10px;
    }

    
    /*------- my work -------*/


    /* .projectContainer{
        margin-left: 20%;
        
    } */

    .projectContainer img{
        width: 400px;
        border-radius: 10px;
        
    }

    .projectImg img{
        width: 400px;
        border-radius: 10px;
    }

    .projectBox{
        width: 400px;
    }

    .smallBox{
        width: 350px;
    }

    .smallBox h2 {
        margin-top: 22px;
        margin-left: 25px;
    }
    
    .smallBox h3{
        margin-left: 25px;
    }

    .smallBox p{
        margin-left: 25px;
    }

    .smallBox button{
        margin-left: 25px;
    }




    
   
}

@media (max-width: 582px) {
    .copyRight {
        margin-left: 35%;
        font-size: 12px;
    }
    .socialMedia {
        left: 0px;
    }



    /*------- Contact Me -------*/

    

    .contactform form div{
        width: 350px;
    }

    .contactform h1{
        font-size: 20px;
    }














    
   
}

@media (max-width: 558px) {
    .devInfo{
        text-align: center;
    }


    /* .projectContainer{
        margin-left: 30%;
        
    } */
}

@media (max-width: 460px) {
    /* .projectContainer{
        margin-left: 35%;
        
    } */
}
